{% extends "blog/base.html" %}
{% load static %}

{% block title %} About {% endblock title %} 

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock page_styles %}


{% block content %}

<div class="blog-container">
    <h2>Welcome to the Blog Page.</h2>

    {% for post in posts %}
    <div class="blog-card">
        <img class="image" src="{{ post.author.profile.image.url }}" alt="profile">
        <div>
            <h4 class="meta">By {{ post.author }} — {{ post.date_posted|date:"F d, Y" }}</h4>
            <h3 class="title"><a href="{% url 'blog:post-detail' post.id %}"> {{ post.title }}</a></h3>
            <p class="content">{{ post.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}


